@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
  font: 14px white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  color: purple;
  margin: 20px;
  background-color:  pink;
}

ol, ul {
  padding-left: 50px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(240, 11, 125);
  border: 1px solid fuchsia;
  float: left;
  font-size: 64px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square {
  outline: none;
      background-color:rgb(240, 11, 125);
    border: 1px fuchsia;
    font-size: 65px;
    font-weight: bold;
    margin-right: -1px;
    margin-top: 6px;
    padding: 0;
    text-align: center;
    width: 90px;
    height: 90px;
    display: inline-block;
    border-radius: 8px;
    margin-right: 6px;

}

.kbd-navigation .square:focus {
  background:paleturquoise;
}

.game {
  display: flex;
  flex-direction: row;
  margin-left: 615px;
  margin-top: 50px;

 
}

.game-info {
  margin-left: 80px;
  margin-top: 100px;
}

.game-board{
   
     position: absolute;
    top:50%;
    left:40%;
    transform: translate(-50%,-50%);
    display: flex;
    margin: 0 auto;
}
.label1 .label2 {
    margin-right: 4px;
}

.players{
    text-align: center;
    margin-bottom: 10px;
    margin-left: 29px;
}

.text-center{
    margin-right: 70px;
    font-size: 40px;
    margin-top: 5px;
    
}